include = ../emul99/bin/common.cfg

mem_ext = 2

fdc_dsr = ../emul99/roms/Disk.Bin 
fdc_dsk1 = disk.dsk 

disksim_dsr = ../emul99/roms/disksim.bin 
disksim_dir = ./

#tipi_dsr = ../emul99/roms/tipi.bin
#tipi_addr = 127.0.0.1:9901


cart_rom = phoenix.bin 
disksim_text=1 

rs232_dsr = ../emul99/roms/RS232.Bin 

PIO/1_out = pio,nozero,append
RS232/1_out = rs232

key_input = ./keyin_fifo
